/***General/Typographic CSS***/
html,
body {
	background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

 h1,h2,h3,h4,h5,h6,a,p,
 li  {
 	font-family: Tahoma, Verdana, Segoe, sans-serif;
 	color: white;
 }

 p,
 li {
 	font-size: 1.15em;
 }

h1 {
	text-align: center;
	font-size: 2.5em;
}

h3 {
	text-align: left;
	font-weight: bold;
	font-size: 1.5em;
}

/***google maps js api***/
#map {
	margin: 0 auto;
	margin-top: 100px ;
  height: 300px;
  width: auto;

}

/***navigation***/
.nav {
	text-transform: uppercase;
}

.projectName a {
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

.anchor {
	padding-top: 50px;
}

/*** carousel ***/
.carousel {
	background-attachment: fixed;
	margin-left: -15px;
	margin-right: -15px;
}

/***about***/
.about {
	margin: 0 auto;
	width: auto;
}

#intro,
#my-story {
	text-align: center
}

/***work ***/
.work {
	margin-bottom: 1%;
	padding-bottom: 1%;

}

.work-img {
  display: block; /* needed to center the element with margin */
  margin: 0 auto; /* center the image inside the column if it's smaller */
  max-width: 200px; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work */
}

.proj-title {
  font-weight: 90;
}

.work1 h1 {
	margin-bottom: 2%;
	padding-bottom: 3%;
}

.work1 p {
	padding-top: 1.5%;
	text-align: center;
	font-weight: bold;
	color: red;
}

#work2 a {
	color: black;
	text-decoration: none;
}

.portfolio-img {
	margin: 0 auto;	
}

#exp {
	margin-bottom: 1%;
	padding-bottom: 10px;
}

/***contact***/
.contact-parallax {
    
/*Add a background image*/
  background-image: url("../img/leiden_nl_stock_hero.jpg");
  background-size: 100%;
  background-repeat: none;

/*Give the background a fixed position does it not scroll when you scroll*/
 	background-attachment: fixed;
/*Have the background cover the entire div section*/
    color: white;
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    /*padding: 2%;*/
    /*padding-top: 100px;*/
    height: 1000px;
} /*parallax effect via css*/

.contact h1 {
	position: relative;
		top: 5%;
}

#contact {
	margin-top: 2%;
	padding-top: 1%;
}

.post,
.phone,
.email {
	margin-top: 10px;
	font-size: 1.22em;
}

.phone {
	position: relative;
}

#post {
	text-align: center;
	position: relative;
	
}

/***faq***/
.faq {
	padding-top: 1%;
	margin-top: 0px;
	text-align: center;
}

#faq {
	background-image: url("../img/landscape.jpg");
	background-size: 100%;
}

.faq h1 {
	text-align: center;
}

/***accordion faq***/
.panel-group {
	padding-top: 1%;
}

.panel-body {
	font-size: 1.25em;
	background-color: black;
}

.panel-title a {
	text-decoration: none;
	font-weight: bold;
}

/***forms***/
#form-contact {
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	width: 80%;
	position: absolute;
		left: 10%;
}

/***buttons***/

.modal-button {
	display: inline-block;
	float: right;
	margin-top: 18px;
	margin-right: 30px;
}

#modalembed {
	height: 500px;
	width: 100%;
	padding: 1%;
}

/***modal***/
.modal-body,
.modal-header,
.modal-footer{
	background-color: black;
}

/***learn more***/
.learn-more {
	display: inline-block;
	float: left;
	margin-left: 30px;
}

/***footer***/
footer {
	margin-top: 1%;
	padding-top: 1%;
}

.copyright {
	margin-top: 1%;
	padding-top: 1%;
	text-align: center;
	color: white;
	font-weight: bold;

}

/***social media***/
.twitter {
	float: right;
	/*margin-top: 2%;
	padding-top: 2%*/
}
.fb-like {
	/*margin-top: 2%;
	padding-top: 2%;*/
	padding-left: 1%;
}


/***media queries***/
/* Large desktop */
/*@media (min-width: 1200px) { ... }*/

/* Portrait tablet to landscape and desktop */
/*@media (min-width: 768px) and (max-width: 979px) { ... }*/

/* Landscape phone to portrait tablet */
/*@media (max-width: 767px) { ... }*/

/* Landscape phones and down */
/*@media (max-width: 480px) { ... }
